body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: #0e0f29;
    gap: 1rem;
}

.block{
    width: 10rem;
    height: 10rem;
    background-color: #002791;
    border-radius: 10px;
    position: absolute;
}

#field{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    width: 30rem;
    background: #0e0f29;
    position: absolute;
    top: 9rem;
}

#field > div{
    box-shadow: #1b1b67 0 0 10px 1px;
    width: 10rem;
    height: 10rem;
}

#score{
    position: absolute;
    z-index: 99;
    width: 10rem;
    height: 5rem;
    color: white;
    top: 5rem;
    text-align: center;
}

#block-container{
    width: 30rem;
    height: 10rem;
    background: #0e0f29;
    box-shadow: #1b1b67 0 0 10px 1px;
    display: flex;
    position: absolute;
    bottom: 4rem;
}

#field > div{
    opacity: 0.5;
}

.block.on-place{
    width: 5rem;
    height: 5rem;
}

.block:not(.on-place):not(.busy){
    z-index: 99;
    width: 11rem;
    height: 11rem;
}

#tetris-container {
    position: relative;
    width: 200px;
    height: 400px;
    border: 2px solid black;
    display: grid;
    grid-template-rows: repeat(20, 20px);
    grid-template-columns: repeat(10, 20px);
    background-color: #f0f0f0;
}

.tetrimino {
    position: absolute;
    display: grid;
    grid-template-rows: repeat(4, 20px);
    grid-template-columns: repeat(4, 20px);
    width: 80px;
    height: 80px;

}

.square {
    width: 100%;
    height: 100%;
    background-color: #3498db;
    border: 1px solid #2c3e50;
}



